<h1>Login</h1>

<form ng-submit="login()">
    <p>
        <label>Username</label>
        <input type="text" ng-model="user.username" />
    </p>
    <p>
        <label>Password</label>
        <input type="text" ng-model="user.password" />
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
</form>