<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title><%= title %></title>
    </head>
    <body>
        {{ message }}

        <div ng-view></div>

        <!-- <form action="/api/u/login" method="POST">
            <label>Username</label>
            <input type="text" name="username"/>
            <label>Password</label>
            <input type="text" name="password"/>
            <input type="submit" value="OK">
        </form> -->

        <script src="/angular/angular.min.js"></script>
        <script src="/angular-resource/angular-resource.min.js"></script>
        <script src="/angular-route/angular-route.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>